@font-face {
    font-family: "OPS";
    src: url("OPPOS.ttf");
}
html{
    background-color: rgb(246, 252, 255);
    padding-left: 5%;
    padding-right: 5%;
}
p{
    font-size: 22px;
    font-family: SimSun;
    line-height:1.7em;
    text-indent: 2em;
}
h1{
    font-size: 40px;
    font-weight: bold;
    font-family: OPS;
}
h2{
    font-weight:normal;
    font-family: STZhongsong;
}
.yz{
    font-family: FangSong;
    color:saddlebrown;
}
.lv{
    color: darkgreen;
}
a{
    color:red;
    text-decoration:none;
}
.gj>p,.gj>p>a{
    color: rgb(0, 0, 107);
    text-indent:0em;
    line-height: normal;
}
button{
    font-size: 20px;
    font-family: SimSun;
}